@font-face {
    font-family: Montserrat-Thin;
    src: url(../source/Montserrat-Thin.ttf);
}
@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(../source/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(../source/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../source/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../source/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../source/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../source/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../source/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: Montserrat-Black;
    src: url(../source/Montserrat-Black.ttf);
}

$thin: 'Montserrat-Thin';
$exLight: 'Montserrat-ExtraLight';
$light: 'Montserrat-Light';
$regular: 'Montserrat-Regular';
$medium: 'Montserrat-Medium';
$semiBold: 'Montserrat-SemiBold';
$bold: 'Montserrat-Bold';
$exaBold: 'Montserrat-ExtraBold';
$black: 'Montserrat-Black';